@model APP_Nutricion.Models.ViewModels.UpsertVM

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>

<h4>Alimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.NombreAlimento">Nombre Alimento</label>
                <input class="form-control" asp-for="AlimentoItems!.NombreAlimento"/>
                @* <span asp-validation-for="NombreAlimento" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.Cantidad">Cantidad</label>
                <input class="form-control" asp-for="AlimentoItems!.Cantidad" />
                @* <span asp-validation-for="Cantidad" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label">Unidad</label>
                <select asp-for="AlimentoItems!.UnidadId" class="form-control" asp-items="@Model.UnidadesList">
                    <option disabled selected>--Seleccione la Unidad</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.Calorias">Calorias</label>
                <input class="form-control" asp-for="AlimentoItems!.Calorias" />
                @* <span asp-validation-for="Calorias" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.Proteinas">Proteinas</label>
                <input class="form-control" asp-for="AlimentoItems!.Proteinas" />
                @* <span asp-validation-for="Proteinas" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.Carbohidratos">Carbohidratos</label>
                <input class="form-control" asp-for="AlimentoItems!.Carbohidratos" />
                @* <span asp-validation-for="Carbohidratos" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.Grasas">Grasas</label>
                <input class="form-control" asp-for="AlimentoItems!.Grasas" />
                @* <span asp-validation-for="Grasas" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.Fibra">Fibra</label>
                <input class="form-control" asp-for="AlimentoItems!.Fibra" />
                @* <span asp-validation-for="Fibra" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AlimentoItems!.Sodio">Sodio</label>
                <input class="form-control" asp-for="AlimentoItems!.Sodio" />
                @* <span asp-validation-for="Sodio" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select asp-for="AlimentoItems!.CategoriaId" class ="form-control" asp-items="@Model.CategoriasList">
                    <option disabled selected>--Seleccione una Categoria</option>
                </select>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
